@import '../../../src_parts/scss/_reset.scss';
@import '../../../src_parts/scss/_common.scss';
@import '../../../src_parts/scss/_mixin.scss';
@import '../../../src_parts/scss/_font_face.scss';
@import '../../../src_parts/scss/_hover.scss';
@import '../../../src_parts/scss/_filter.scss';
@import '../../../src_parts/scss/_animate.scss';
@import '../../../src_parts/scss/_settings.scss';

@import '../../../src_parts/scss/_samples.scss';

@import '_sprite.scss';

#content{

  @include getRem($font-size);
  font-family: 'Lato', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'MS PGothic', 'MS UI Gothic', sans-serif;
  letter-spacing: 0.5px;
  color: $font-color;

  @include jumble();

  @include templateSample();

}

body{

  &.___marker{}

  &.___hover{}

  &.___error{}

  &.___loading{}

  &.___pc{}

  &.___ie{}

  &.___tablet{}

  &.___cellphone{}

}