@import '_reset.scss';
@import '_common.scss';
@import '_mixin.scss';
@import '_font_face.scss';
@import '_hover.scss';
@import '_filter.scss';
@import '_animate.scss';
@import '_settings.scss';

@import '_samples.scss';
@import '_slick.scss';
@import '_sprite.scss';

@import '_header.scss';
@import '_footer.scss';

#content{

  @include getRem($font-size);
  font-family: 'Lato', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'MS PGothic', 'MS UI Gothic', sans-serif;
  letter-spacing: 0.5px;
  color: $font-color;

  @include templateSample();

}

body{
  &.___marker{}
  &.___hover{}
  &.___error{}
  &.___loading{}
  &.___pc_chrome{}
  &.___pc_safari{}
  &.___pc_opera{}
  &.___pc_firefox{}
  &.___ie_8{}
  &.___ie_9{}
  &.___ie_10{}
  &.___ie_edge{}
  &.___tablet_ipad{}
  &.___tablet_android{}
  &.___cellphone_iphone{}
  &.___cellphone_android{}
}