!= '\n<!--[if lt IE 9]>'
script(type='text/javascript' src='/assets/js/legacy.libs.js')
!= '\n<![endif]-->\n'
!= '\n<!--[if gte IE 9]><!-->'
script(type='text/javascript' src='/assets/js/libs.js')
!= '\n<!--<![endif]-->\n'