//- ============================================
//- scriptInfo
//-   jsファイルをdata.jsonから出力
//- ============================================
mixin scriptInfo(scriptArr)
  each item in scriptArr
    script(type='text/javascript' src=item)