div#templateSamples

  hr

  div.sample

    h2 Sample - Sprite Image

    ul#spliteImageRoot
      li
        p.sprite-1
      li
        p.sprite-2
      li
        p.sprite-3
      li
        p.sprite-4

  hr

  div.sample

    h2 Sample - Border Animation

    ul#borderAnimationRoot
      li#borderAnimation1
        p 1
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation2
        p 2
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation3
        p 3
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation4
        p 4
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation5
        p 5
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation6
        p 6
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation7
        p 7
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL