div#templateSamples

  div.sample

    h2 Sample - Css Animation

    ul#cssAnimationRoot
      li
        a#jumble(href='javascript:void(0);') jumble

  div.sample

    h2 Sample - Sprite Image

    ul#spliteImageRoot
      li
        p.sprite-1
      li
        p.sprite-2
      li
        p.sprite-3
      li
        p.sprite-4

  div.sample

    h2 Sample - Slick

    div#slickRoot

      ul
        li.img
        li.img
        li.img
        li.img
        li.img
        li.img
        li.img
        li.img
        li.img
        li.img
        li.img
        li.img

  div.sample

    h2 Sample - Border Animation

    ul#borderAnimationRoot
      li#borderAnimation1
        p 1
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation2
        p 2
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation3
        p 3
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation4
        p 4
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation5
        p 5
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation6
        p 6
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL
      li#borderAnimation7
        p 7
        div.bRoot
          div.bT
          div.bR
          div.bB
          div.bL

  div.sample

    h2 Sample - Filter Image

    div#filterImageRoot

      ul
        li#filter1
          a(href='javascript:alert("blur")')
            p.img
            p blur
        li#filter2
          a(href='javascript:alert("dropShadow")')
            p.img
            p dropShadow
        li#filter3
          a(href='javascript:alert("invert")')
            p.img
            p invert
        li#filter4
          a(href='javascript:alert("sepia")')
            p.img
            p sepia
        li#filter5
          a(href='javascript:alert("grayscale")')
            p.img
            p grayscale
        li#filter6
          a(href='javascript:alert("brightness")')
            p.img
            p brightness
        li#filter7
          a(href='javascript:alert("saturate")')
            p.img
            p saturate
        li#filter8
          a(href='javascript:alert("huaRotate")')
            p.img
            p huaRotate
        li#filter9
          a(href='javascript:alert("contrast")')
            p.img
            p contrast