// [ Get Rem ]
@mixin getRem($size){
  font-size: $size + px;
  font-size: ($size / 10) * 1rem;
};

// [ Get Rem Forced ]
@mixin getRemForced($size) {
  font-size: $size + px !important;
  font-size: ($size / 10) * 1rem !important;
};

// [ Get Sp Buffer Via Px ]
@function getPercent($pxSizeFor640){
  @return ($pxSizeFor640 / 640) * 100 + %;
};

// [ Opacity ]
@mixin handleOpacity($opacityRate:0.6){
  opacity: $opacityRate;
  filter: alpha(opacity=($opacityRate * 100));
};

// [ Box-Sizing ]
@mixin defaultBoxSizing(){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
};

// [ Center x Center]
@mixin toCenterCenter(){
  display: table-cell;
  vertical-align: middle;
  text-align: center;
};

// [ Lacky 3d ]
@mixin lackyFor3d(){
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
};

// For Vender Prefix
// @include setPrefix(NAME, VALUE);
@mixin setPrefix($name, $argument){
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
};

// For Keyframes
// @include setKeyframes(NAME){
//      VALUES
// }
@mixin setKeyframes($name){
  @-webkit-keyframes #{$name}{
    @content;
  }
  @-moz-keyframes #{$name}{
    @content;
  }
  @-ms-keyframes #{$name}{
    @content;
  }
  @keyframes #{$name}{
    @content;
  }
};