// =================================================================
// Sample
// =================================================================
@mixin templateSample(){
  #templateSamples{
    // For All Sample
    .sample{
      padding: 40px 0;
      >h2{
        text-align: center;
        margin: 0 0 40px 0;
      }
    }
    // For Splite
    #spliteImageRoot{
      @include sprites($spritesheet-sprites);
      text-align: center;
      li{
        display: inline-block;
        margin: 0 20px 0 0;
        &:last-child{
          margin: 0;
        }
      }
    }

    #slickRoot{
      overflow: hidden;
      ul{
        li.img{
          background-image: url(/assets/img/sample.gif);
          background-size: 306px 351px;
          background-repeat: no-repeat;
          background-position: center center;
          width: 306px;
          height: 351px;
          margin: 0 auto;
        }
      }
    }

    // For Border Animation
    #borderAnimationRoot{
      li{
        width: 100px;
        height: 50px;
        margin: 0 auto 40px;
        background-color: #eee;
        p{
          line-height: 50px;
          text-align: center;
        }
        &:last-child{
          margin: 0 auto;
        }
        &#borderAnimation1{
          @include hoverBorderType1();
        }
        &#borderAnimation2{
          @include hoverBorderType2();
        }
        &#borderAnimation3{
          @include hoverBorderType3();
        }
        &#borderAnimation4{
          @include hoverBorderType4();
        }
        &#borderAnimation5{
          @include hoverBorderType5();
        }
        &#borderAnimation6{
          @include hoverBorderType6();
        }
        &#borderAnimation7{
          @include hoverBorderType7();
        }
      }
    }
    // For Filter Image
    #filterImageRoot{
      li{
        margin: 0 auto 40px;
        text-align: center;
        p.img{
          background-image: url(/assets/img/sample.gif);
          background-size: 306px 351px;
          background-repeat: no-repeat;
          background-position: center center;
          width: 306px;
          height: 351px;
          margin: 0 auto;
        }
        &#filter1{
          p.img{
            @include blur();
          }
        }
        &#filter2{
          p.img{
            @include dropShadow();
          }
        }
        &#filter3{
          p.img{
            @include invert();
          }
        }
        &#filter4{
          p.img{
            @include sepia();
          }
        }
        &#filter5{
          p.img{
            @include grayscale();
          }
        }
        &#filter6{
          p.img{
            @include brightness();
          }
        }
        &#filter7{
          p.img{
            @include saturate();
          }
        }
        &#filter8{
          p.img{
            @include huaRotate();
          }
        }
        &#filter9{
          p.img{
            @include contrast();
          }
        }
      }
    }
  }
};