doctype html

html

  head

    include /common_meta

    include /custom_meta
    +metaInfo(data.template)

    include /custom_style
    +styleInfo(data.template.style)

  body(style='opacity:0;')

    include /header

    div#content

      // scss, mixinのサンプル
      include /samples

    include /footer

    include /common_libs

    include /custom_script
    +scriptInfo(data.template.script)